<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AmazonTests2" verbose="2">
<listeners>
    <listener class-name="amazonTests.Listeners"></listener>
</listeners>
    <test name="AmazonTest">

        <groups>
            <run>
                <include name="functional"/>
            </run>
        </groups>
        <classes>
            <class name="amazonTests.FilterFunctionalityTest"/>
            <class name="amazonTests.ChangesAfterRefreshFunctionality"/>
            <class name="amazonTests.PercentFunctionality"/>
            <class name="amazonTests.PaginationFunctionality"/>
            <class name="amazonTests.SearchResultsFunctionality"/>
        </classes>
    </test>
</suite>
